<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Misson to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="Mars">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Launch Mission</a></p>
    </div>

    <!-- Mission to Mars -->
    <div class="row" id="The Red Planet">
      <div class="col-md-12">
        <h4 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_paragraph}}</small>
      </div>
    </div>
    <div class="row" id ="The Red Planet">
      <div class="col-md-12">
        <img class="heading" src = "{{mars.featured_image}}" />
        </div>
    </div>
    <div class="row" id ="The Red Planet">
      <div class="col-md-12">
        <h4 class="heading">{{mars.table|safe}}</h4>
      </div>
    </div>
    <div class = "row" id = "The Red Planet">
      <h2 class="text-center"> Mars Hemisphere </h2>
      {% for x in mars.hemisphere_images %}
      <div class=" col-3 col-md-6">
        <div class="thumbnail">
        <img src="{{x['img_url']|default('static/images/error.png', true)}}" alt="...">
        <h5 id="caption">{{x['title']}}</h5>
      </div>
        <br/>
      </div>
      {% endfor %}
   </div>
  </div>
</body>

</html>
